.foodCartContainer {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
  justify-content: space-between;

  .foodImage {
    width: 100%;
  }

  .foodInfo {
    height: 100%;
    padding: 0.3rem 0.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .description {
      h3 {
        font-size: 1.25rem;
        font-weight: bold;
        color: #182135;
      }

      p {
        font-size: 0.9rem;
        margin: 0.5rem 0 1rem;
        line-height: 1.25rem;
        text-align: justify;
        color: rgba(98, 98, 100, 0.85);
      }
    }

    .price {
      margin-top: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      button {
        border: 0;
        font-size: 1rem;
        display: flex;
        align-items: center;
        background-color: var(--brown-700);
        font-weight: 700;
        border-radius: 0.25rem;
        padding: 0.5rem 1rem;
        color: #fff;
        transition: filter 0.2s;

        &.remove {
          background: rgba(255, 0, 0, 0.521);
        }

        svg {
          width: 0.85rem;
          height: 0.85rem;
          margin-right: 0.5rem;
        }

        &:hover {
          filter: brightness(0.9);
        }
      }

      strong {
        color: var(--brown-900);
      }
    }
  }
}
