.foodCartContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .foodImage {
    width: 100%;
  }

  .foodInfo {
    height: 100%;
    padding: .3rem .5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .description {
      h3 {
        font-size: 1.25rem;
        font-weight: bold;
        color: #182135;
      }

      p {
        font-size: .9rem;
        margin-top: 0.5rem;
        line-height: 1.25rem;
        text-align: justify;
        color: rgba(98, 98, 100, .85);
      }

      small {
        margin: .8rem 0 1.2rem;
        font-size: 0.85rem;
        display: flex;
        align-items: center;
        font-weight: bold;
        gap: .25rem;
        color: rgba(98, 98, 100, .9);
      }
    }

    .price {
      margin-top: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      button {
        border: 0;
        font-size: 1rem;
        display: flex;
        align-items: center;
        background-color: var(--brown-700);
        font-weight: 700;
        border-radius: 0.25rem;
        padding: .5rem .85rem;
        color: #fff;

        &.remove {
          background: rgba(255, 0, 0, .9);
        }

        svg {
          width: .85rem;
          height: .85rem;
          margin-right: .5rem;
        }
      }

      strong {
        color: var(--brown-900);
      }
    }
  }
}
