.headerContainer {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 1;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 77rem;
    padding: 1rem;
    margin: 0 auto;

    .logo {
      font-size: 1.25rem;
      letter-spacing: -1px;

      strong {
        color: var(--brown-900);
        font-size: 1.5rem;
      }
    }

    nav {
      display: none;
      list-style: none;
      gap: 1.25rem;

      @media (min-width: 768px) {
        display: flex;
        align-items: center;
      }

      li {
        list-style: none;
        font-size: 1.25rem;
        cursor: pointer;
        transition: color 0.25s;

        &:hover,
        &.linkActive {
          color: var(--brown-950);
        }
      }
    }

    @media (max-width: 768px) {
      &.active {
        position: fixed;
        background: #fff;
        z-index: 9999;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        padding: 1rem 1.65rem;

        h2 {
          display: none;
        }

        nav {
          order: 1;
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-evenly;
          height: 100%;

          .cart {
            margin-left: 0;
          }
        }

        .options {
          order: 0;

          button.open {
            display: none;
          }

          button.close {
            display: block;
            position: relative;
            right: -90%;
          }

          .cart {
            display: none;
          }
        }
      }
    }
  }
}

.options {
  display: flex;
  gap: 1.5625rem;

  .cart {
    cursor: pointer;
    display: flex;
    position: relative;

    span {
      position: absolute;
      right: -5px;
      top: -3px;
      width: 1rem;
      height: 1rem;
      background: var(--brown-900);
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-size: 0.6rem;
      border-radius: 8px;
    }
  }

  button {
    background: transparent;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &.close {
      display: none;
    }

    svg {
      width: 2rem;
      height: 2rem;
    }

    @media (min-width: 768px) {
      display: none;
    }
  }
}
